body {
  background: #0E1525;

}

p {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  color: #FFD700;
}

h2 {
   text-align: center;
    font-size: 40px;
    font-weight: medium;
    color: #F5F9FC;
    text-shadow: 2px 2px 60px #ADFF2F;
}

